.card {
  width: 150px;
  max-height: 18vh;
  min-height: 17vh;

  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title {
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.method {
  width: fit-content;
  background: rgba(65, 45, 104, 0.5);
  border-radius: 60px;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  margin-left: 50%;
  color: #ffffff;
}

.number {
  width: fit-content;
  background: #ffffff;
  border-radius: 40px;
  text-align: center;
  letter-spacing: 2px;
  color: #9283af;
  font-weight: 400;
  font-size: 12px;
  padding: 5px 10px 5px 10px;

  line-height: 14px;
}

.a {
  display: flex;
  justify-content: center;
  align-items: center;
}
