.box {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  margin-top: 5%;
}

.title {
  color: var(--main-bg-color);
  text-decoration: underline #ff9083 10px;
  text-underline-offset: -5px;
}

.btn {
  background-color: var(--color1);
  border-radius: 20px;
  color: #fff;
  border: transparent;
  width: 25%;
  height: 50px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}
