.box {
  color: white;
  background-color: var(--main-bg-color);
  border-radius: 20px;
  margin-right: 5vw;
  margin-left: 5vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-top: 5vh;
  letter-spacing: 1px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 26px;
}

.subtitle {
  color: var(--color1);
  font-size: 22px;
}

.text {
  font-size: 20px;
  overflow: auto;
}

@media screen and (min-width: 740px) {
  .box {
    height: 360px;
  }
  .title {
    font-size: 30px;
  }
  .subtitle {
    font-size: 26px;
  }
  .text {
    font-size: 24px;
    overflow: visible;
  }
}
