.layout {
  width: 100vw;
  height: 100vh;
  padding: 30px;
}

.shape_layout {
  background-color: #412e68;
  background-image: url(/images/bg_shape_white.png);
  background-repeat: no-repeat;
  background-size: 95vw 90vh;
  width: 100vw;
  height: 100vh;
  background-position: bottom left;
}

.header {
  width: 100%;
  height: 100px;
}
