.shape_layout {
  background-color: var(--main-bg-color);
  background-image: url(/images/bg_shape_white.png);
  background-repeat: no-repeat;
  background-size: 95vw 90vh;
  width: 100vw;
  height: 100vh;
  background-position: bottom left;
}

@media screen and (min-width: 1024px) {
  .shape_layout {
    background-color: initial;
    background-image: initial;
    background-repeat: initial;
    background-size: initial;
    height: initial;
    background-position: initial;
  }
}
