.waveBackground {
  background-image: url("/images/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
}

.whiteBurger {
  filter: brightness(100);
  cursor: pointer;
  margin-top: 4vh;
  margin-left: 5vw;
  width: 8%;
}

.blackBurger {
  cursor: pointer;
  margin-top: 4vh;
  margin-left: 5vw;
  width: 8%;
}

.cross {
  filter: invert(1);
  cursor: pointer;
  margin-top: 3vh;
  margin-left: 5vw;
  width: 10%;
}

.purple {
  background-color: var(--main-bg-color);
}

@media screen and (min-width: 375px) {
  .waveBackground {
    height: 23vh;
  }
  .burger {
    margin-top: 5vh;
  }
  .whiteBurger {
    margin-top: 5vh;
  }
  .cross {
    margin-top: 4vh;
  }
}

@media screen and (min-width: 390px) {
  .waveBackground {
    height: 20vh;
  }
  .burger {
    margin-top: 4vh;
  }
  .whiteBurger {
    margin-top: 4vh;
  }
  .cross {
    margin-top: 3vh;
  }
}

@media screen and (min-width: 540px) {
  .waveBackground {
    height: 32vh;
  }
  .burger {
    margin-top: 6vh;
  }
  .whiteBurger {
    margin-top: 6vh;
  }
  .cross {
    margin-top: 5vh;
  }
}

@media screen and (min-width: 1000px) {
  .waveBackground {
    display: none;
  }
}
