.title {
  text-align: center;
  color: white;
  font-size: 2rem;
}

.formContainer {
  margin-top: 25vh;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.inscriptionInput {
  width: 80%;
  height: 50px;
  border: 1px solid #ffff;
  border-radius: 20px;
  box-shadow: rgba(65, 46, 104, 0.2) 0px 10px 25px -5px inset,
    rgba(65, 46, 104, 0.2) 0px 10px 10px -5px inset;
  text-align: center;
  margin: 2vh;
}

.inscriptionInput::placeholder {
  font-size: 1.3rem;
  font-weight: 900;
}

.btnInscription {
  width: 80%;
  height: 50px;
  background-color: #ff9083;
  color: #ffff;
  border: 1px solid #ff9083;
  border-radius: 80px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 5vh;
}

@media screen and (min-width: 700px) {
  .title {
    font-size: 3rem;
  }
  .user {
    display: flex;
    justify-content: center;
  }
  .formContainer {
    margin-top: 15vh;
  }

  .inscriptionInput {
    width: 50%;
    height: 50px;
  }

  .btnInscription {
    width: 50%;
    font-size: 1.5rem;
    margin-top: 10%;
  }
}

@media screen and (min-width: 1000px) {
  .title {
    font-size: 2.5rem;
  }
  .user {
    display: flex;
    justify-content: center;
  }
  .formContainer {
    margin-top: 10%;
  }

  .inscriptionInput {
    width: 50%;
    height: 50px;
  }

  .btnInscription {
    width: 50%;
    font-size: 1.5rem;
    margin: 0;
  }
}
