.bg {
  position: relative;
}

.cross {
  filter: invert(1);
  cursor: pointer;
  position: absolute;
  top: 21%;
  left: 8%;
  width: 8%;
}

@media screen and (min-width: 1024px) {
  .bg {
    display: none;
  }
}
