.bg {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  min-height: 100%;
  min-height: 100vh;
  color: white;
}

.user {
  margin-top: 5vh;
  margin-bottom: 8vh;
}

.box {
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 8vh;
  margin-left: 2vh;
}

.center {
  display: flex;
  padding-left: 2vh;
}

.link {
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

@media screen and (max-width: 1023px) {
  .bg {
    display: none;
  }
}
