.card {
  width: 150px;
  max-height: 20vh;
  min-height: 18vh;

  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title {
  text-align: center;
  letter-spacing: 2px;
  color: black;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}
