.card {
  width: 150px;
  max-height: 20vh;
  min-height: 18vh;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}
