.bg {
  height: 10vh;
}

.whiteBurger {
  filter: brightness(100);
  position: absolute;
  top: 4%;
  left: 9%;
  width: 7%;
}

@media screen and (min-width: 1000px) {
  .bg {
    display: none;
  }
}
