.purple {
  background-color: var(--main-bg-color);
  background-image: url("/images/bg_shape_white.png");
  background-repeat: no-repeat;
  z-index: -1;
  background-size: 94% 83%;
  width: 100vw;
  height: 100vh;
  background-position: bottom left;
  padding-top: 1px;
}

.imgBack {
  position: relative;
  height: 35px;
  width: 35px;
  top: 20px;
  left: 20px;
}

.title {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 24px;
}

.userAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pencil {
  margin-top: 70px;
  color: #ff9083;
}

.form {
   margin: 40px;
  padding: 20px;
}

.field {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.label {
  color: #412e68;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.input {
  display: flex;
  align-items: center;
  text-align: center;
  height: 35px;
  border-radius: 20px;
  border: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  box-shadow: rgba(65, 46, 104, 0.2) 0px 10px 25px -5px inset,
    rgba(65, 46, 104, 0.2) 0px 10px 10px -5px inset;
}

.input::placeholder {
  color: var(--main-bg-color);
  font-size: 0.8em;
  opacity: 0.7;
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  height: 35px;
  width: 35px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.btn {
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  font-size: 15px;
  width: 80%;
  height: 40px;
  border: none;
  background-color: #ff9083;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 5px 10px, rgba(0, 0, 0, 0.23) 0px 3px 3px;
  cursor: pointer;
}

.loader {
  position: absolute;
  top: 45%;
  left: 45%;
}

@media screen and (min-height: 740px) {
  .form {
    margin-top: 5%;
  }

  .field {
    margin-top: 45px;
  }
}

@media screen and (min-height: 840px) {
  .title {
    font-size: 28px;
  }

  .imgBack {
    height: 45px;
    width: 45px;
  }

  .form {
    margin-top: 14%;
  }

  .input {
    height: 40px;
    font-size: 1.3rem;
  }
}

@media screen and (min-height: 900px) {
  .form {
    margin-top: 15%;
  }
  .field {
    margin-bottom: 50px;
  }

  .input {
    height: 45px;
    font-size: 1.3rem;
  }
}

@media screen and (min-height: 1000px) {
  .imgBack {
    height: 65px;
    width: 65px;
  }

  .title {
    font-size: 35px;
  }

  .form {
    margin-top: 14%;
  }

  .field {
    margin-bottom: 50px;
  }

  .input {
    height: 50px;
    font-size: 1.8rem;
  }

  .btn {
    font-size: 20px;
  }
}

@media screen and (min-height: 1100px) {
  .form {
    margin-top: 20%;
  }

  .field {
    margin-bottom: 55px;
  }

  .input {
    height: 60px;
    font-size: 1.8rem;
  }

  .btn {
    font-size: 20px;
  }
}

@media screen and (min-width: 1100px) {
  .form {
    margin-top: 5%;
  }
  .field {
    margin-bottom: 40px;
  }

  .input {
    width: 50%;
    height: 40px;
    font-size: 1.8rem;
  }

  .btn {
    font-size: 20px;
  }
}
