.user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
}

.name {
  color: #412e68;
  font-size: 29px;
  text-align: center;
  font-weight: bold;
}

.statTitle {
  color: #412e68;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  border-bottom: 10px;
}

.button {
  text-decoration: none;
  color: #412e68;
  font-size: 1.25rem;
  font-weight: 500;
  width: 200px;
  cursor: pointer;
  border-bottom: solid 3px;
  padding: 10px;
}

.button:hover {
  color: #6d4fa3;
}

.sections {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.number {
  font-size: 3rem;
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .boxes {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }

  .sections {
    margin-top: 15vh;
    height: 50vh;
  }

  .user {
    margin-top: 40px;
  }

  .avatar {
    display: none;
  }
}
