.user {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 10px;
}

.avatar {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.name {
  color: #412e68;
  font-size: 29px;
  text-align: center;
  margin-top: 50px;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 1rem;
  border-bottom: 10px;
}

.button {
  text-decoration: none;
  color: #412e68;
  font-size: 1.25rem;
  font-weight: 500;
  width: 200px;
  cursor: pointer;
  border-bottom: solid 3px;
  padding: 10px;
}

.button:hover {
  color: #6d4fa3;
}

.sections {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 35vh;
}
