.purpleBackground {
  height: 100vh;
  background-color: var(--main-bg-color);
  background-image: url("/images/white_background.png");
}

.title {
  text-align: center;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}
