.mainTitle {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  color: #412e68;
}

.canvas {
  width: 80%;
  height: 80%;
  display: flex;
}

@media screen and (min-width: 1024px) {
  .mainContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}
