.mainTitle {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  color: #412e68;
  margin-top: 30px;
}

.donut {
  margin-top: 70px;
}

@media screen and (min-width: 1024px) {
  .boxes {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .mainTitle {
    margin-top: 40px;
  }

  .donut {
    width: 65vh;
    margin-top: 100px;
    margin-left: 200px;
  }
}
