.notFound {
  background-image: url("/images/drop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  text-align: center;
  color: var(--main-bg-color);
}

.title {
  margin-top: 0;
  padding-top: 10%;
}
