/* exemple

import style from "./clients.module.css";

export default function Clients() {
  return (
    <div className={style.purple}>
      <h1 className={style.title}>Clients</h1>
    </div>
  );
}


.purple {
  background-color: var(--main-bg-color);
  background-image: url("/images/white_background.png");
  background-repeat: no-repeat;
  z-index: -1;
  background-size: 94% 80%;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  background-position: bottom left;
}
*/
